:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Regular.ttf) format("truetype");;
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-SemiBold.ttf) format("truetype");;
    font-weight: 600;
}

@font-face {
    font-family: "Inter";
    src: url(assets/fonts/static/Inter-Bold.ttf) format("truetype");;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--Grey-900);
    height: 100vh;
}

.Container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--Grey-800);

    padding: 0rem 1rem;
    border-radius: 1rem;

    max-width: 25.2rem;
    width: calc(100% - 2rem);
    margin: 1rem;
    box-sizing: border-box;
}

.Profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0rem;
}

img {
    border-radius: 6rem;
    margin-bottom: 1.5rem;
    height: 6rem;
}

h1 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 25px;
    color: var(--White);
    margin-bottom: 0.6rem;
}

.Location {
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    color: var(--Green);
}

.Title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 14px;
    color: var(--White);
    margin-bottom: 1.5rem;
}

.Links {
    font-family: "Inter";
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 3rem;
    width: 100%;
}

button {
    background-color: var(--Grey-700);
    color: var(--White);
    border: 0;
    border-radius: 10px;
    padding: 1rem 0rem;
    font-size: 15px;
    font-weight: 700;
    box-sizing: content-box;
    transition: linear 0.2s;
    max-width: 20rem;
    width: 100%;
}

button:hover {
    background-color: var(--Green);
    color: var(--Grey-700);
}

.attribution { color: var(--White); position: absolute; font-size: 11px; text-align: center; bottom: 10px; }
.attribution a { color: hsl(228, 45%, 44%); }